@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);
/* body * {
  box-sizing: border-box;
} */
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
/* [class] {
  box-sizing: border-box;
} */
/* 숨김 콘텐츠*/
.ally-hidden {
  background-color: yellow;
  position: absolute;
  /* top: -10000px; */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0 0 0 0); /*옛날*/
  /*마스킹*/
  clip: rect(0, 0, 0, 0);
  /* clip-path: polygon(0 0, 0 0, 0 0); */
  clip-path: inset(50%);
}

/* 스타일 초기화*/
/*링크 스타일*/
a {
  text-decoration: none;
  color: inherit;
}
/* a:hover {
  color: blue;
}
a:focus {
  color: green;
} */
html {
  font-size: 10px;
}

body {
  font-family: "Spoqa Han Sans", "sans-serif";
  font-weight: 400;
  background-color: #fff;
  color: #181818;
  font-size: 1.4rem; /*14px*/
}

/* 레이아웃 */
.container {
  background-color: silver;
}
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  /* width: 940px; */
  /* border: 10px solid red;
  padding: 50px; */
  /* margin: 0 auto; width 가 있어야쓸 수 있다. auto margin trick */
}
/*로고*/

.logo {
  position: absolute;
  /* background-color: yellow; */
  margin-top: 0;
  margin-bottom: 0;
  top: 45px;
  left: 65px;
  z-index: 10;
}

/*안내링크*/
.member {
  margin: 0;
  padding-left: 0;
  font-size: 0;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;

  left: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* color: red; */
}
.member li {
  display: inline-block;
  font-size: 1.4rem;
}
.member a {
  display: inline-block;
  padding: 8px 10px;
  text-transform: uppercase;
}
/* .member li:last-child a {
  padding-right: 0;
} */
.navigation {
  padding-bottom: 40px;
}
.menu {
  background-color: orange;
  background-image: linear-gradient(
    to bottom,
    orangered 0%,
    orange 45%,
    orange 60%,
    orangered 100%
  );
  padding-left: 225px;
  margin: 5px 0 0 0;
  list-style: none;
  box-shadow: 0 -2px 0 0 #181818;
  /* border-top: 2px solid #181818; */
  border-radius: 0 0 5px 5px;
  height: 45px;
  position: relative;
}
.sub-menu {
  padding-left: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  display: none;
  top: 47px;
  white-space: nowrap; /*강제 개행금지*/
  /* left: 0; */
  /* display: none; 임시 */
}

.sub-menu1 {
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
  display: block;
  left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
  display: block;
  right: 0; /*left: 0같이 쓰면 안됨.*/
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  background-color: yellow;
}
.visual {
  background-color: limegreen;
  height: 10vh;
}
.main {
  background-color: blue;
  padding: 30px 15px;
  /* float: left; */
  display: flow-root;
  /* overflow: hidden; */
  /* height: 300px; */
  /* height: 60vh; */
  /* display: flex;
  padding: 30px;
  justify-content: space-between; */
}
/* .main::after {
  content: "";
  display: block;
  clear: both;
} */
/* .clearfix {
  clear: both;
} */

.menu-item {
  float: left;
  border-left: 2px solid #fff;
  position: relative;
}
.menu-button {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 20px;
  line-height: 45px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-button {
  color: #ff0;
}
.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #181818;
  /* height: 1px;
  background: linear-gradient(to right, green, red); */
}
/* .menu li{
이러면 안 됨
} */
.menu :focus {
  outline: 0;
}
.group {
  height: 60vh;
  float: left;
  margin: 0 15px;
}
.group1 {
  background-color: pink;
  width: 250px;
  float: right;
  /* opacity: 0.5; */
}
.group2 {
  background-color: skyblue;
  width: 380px;
}
.group3 {
  background-color: orange;
  width: 190px;
}
.slogan {
  background: purple;
  height: 10vh;
}
.footer {
  background-color: tomato;
}
.footer-inner {
  background-color: gray;
  height: 10vh;
}
